/* _content/GestionaleQuadri/Views/Shared/Navbar.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-47nncb4tmb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-47nncb4tmb] {
  color: #0077cc;
}

.btn-primary[b-47nncb4tmb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-47nncb4tmb], .nav-pills .show > .nav-link[b-47nncb4tmb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-47nncb4tmb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-47nncb4tmb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-47nncb4tmb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-47nncb4tmb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-47nncb4tmb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GestionaleQuadri/Views/Shared/_ControlPanel.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-oow3g5tc7g] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-oow3g5tc7g] {
  color: #0077cc;
}

.btn-primary[b-oow3g5tc7g] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-oow3g5tc7g], .nav-pills .show > .nav-link[b-oow3g5tc7g] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-oow3g5tc7g] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-oow3g5tc7g] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-oow3g5tc7g] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-oow3g5tc7g] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-oow3g5tc7g] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/GestionaleQuadri/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-h6jv95mv31] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-h6jv95mv31] {
  color: #0077cc;
}

.btn-primary[b-h6jv95mv31] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-h6jv95mv31], .nav-pills .show > .nav-link[b-h6jv95mv31] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-h6jv95mv31] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-h6jv95mv31] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-h6jv95mv31] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-h6jv95mv31] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-h6jv95mv31] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
