@{
    ViewData["Title"] = "Commesse";
    var ViewCommessa = ViewData["ViewCommessa"] as ViewCommessa;
}
@* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_animate *@
<style>
    .collapsible {
        /* background-color: #777; */
        /*        background-color: #3F4D67;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border-radius: 5px;*/
    }

        .actives, .collapsible:hover {
            /* background-color: #555;  */
            background-color: forestgreen;
        }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
</style>
<style>
    /* The Modal (background) */
    .modals {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-contents {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        /* width: 80%; */
        width: 82%;
        left: 131px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */ @@-webkit-keyframes animatetop {
        from {
            top: 0px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    @@keyframes animatetop {
        from {
            top: 0px;
            opacity: 0
        }

        to {
            top: 0;
            opacity: 1
        }
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }
</style>
<div class="pc-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="page-header-title">
                <h5 class="mb-0 font-medium">
                    @ViewData["Title"]
                </h5>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->

    <div class="row">

        @{
            foreach (int a in ViewCommessa.anno)
            {
                <div class="col-md-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex align-items-center collapsible">
                                <div class="col-9">
                                    <h3 class="f-w-300 d-flex align-items-center m-b-0 pointer" anno_i="@a">
                                        @a
                                    </h3>
                                </div>

                            </div>
                            <div id="@a" class="content">

                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <!-- [ Main Content ] end -->
</div>
<!-- The Modal -->
<div id="myModal" class="modals">
    <!-- Modal content -->
    <div class="modal-contents">
        <div class="modal-header">
            @*<span class="close">&times;</span>*@
            <h2 id="nome-azienda-modale">Modal Header</h2>
            <input type="text" class="form-control" id="findCommessa" placeholder="CERCA" style="width:30%">
            <button type="button" class="btn-close close" data-bs-dismiss="modals" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>
</div>


<div id="myModal2" class="modals">
    <!-- Modal content -->
    <div class="modal-contents">
        <div class="modal-header">
            @*<span class="close">&times;</span>*@
            <h2 id="nome-azienda-modale">Modal Header</h2>

            <button type="button" class="btn-close close" data-bs-dismiss="modals" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-2">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>
</div>

<script>
    class Commessa {

        constructor() {
            this.objects();
        }

        objects() {
            this.committente = {
                nome_commessa: "John"
            };
        }

        clearAnno() {
            var infoAzienda = document.getElementsByClassName("info-azienda");
            Object.keys(infoAzienda).forEach((i) => {
                infoAzienda[i].innerHTML = "";
            });
        }

        elencaAziende(anno, result) {
            var id = document.getElementById(anno);
            id.innerHTML = "";
            var ul = document.createElement("ul");
            ul.classList.add("list-group");
            //ul.style.display = "none";
            result.forEach((i) => {
                var li = document.createElement("li");
                li.classList.add("list-group-item");

                var h = document.createElement("h4");
                h.classList.add("pointer");
                h.classList.add("text-green");
                h.classList.add("modal-list");

                h.innerHTML = i.nome_azienda;

                h.setAttribute("anno", anno);
                h.setAttribute("azienda", i.azienda);

                li.appendChild(h);
                ul.appendChild(li);
            });

            id.appendChild(ul);
        }

        avviaModale(modalList) {
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
            var nome_azienda_modale = document.getElementById("nome-azienda-modale");
            var modal_body = document.getElementById("modal-body");
            var numeroRighe = 0;


            Object.keys(modalList).forEach((i) => {
                modalList[i].addEventListener('click', async function () {

                    modal_body.innerHTML = '<div class="spinner-border" role="status"><span class="visually-hidden"></span></div >';
                    nome_azienda_modale.innerHTML = "";

                    modal.style.display = "block";

                    let anno = modalList[i].getAttribute("anno");
                    let azienda = modalList[i].getAttribute("azienda");
                    let nome = modalList[i].innerHTML;
                    //nome_azienda_modale.innerHTML = nome + " " + anno;
                    const response = await fetch("/Commesse/AziendeAnnoCommesse/?anno=" + anno + "&azienda=" + azienda);
                    const result = await response.json();


                    numeroRighe = result.length;
                    nome_azienda_modale.innerHTML = nome + " " + anno + "  (" + numeroRighe + ")";

                    let table = document.createElement("table");
                    let tableThead = document.createElement("thead");
                    let tbody = document.createElement("tbody");

                    table.appendChild(tbody);
                    table.appendChild(tableThead);



                    modal_body.innerHTML = "";
                    modal_body.appendChild(table);
                    table.classList.add("table");
                    table.classList.add("table-striped");
                    table.classList.add("table-sm");





                    let titoli = ["offerta n.", "committente", "note", "nome quadro", "ODL", "data apertura", "MRC"];
                    let theadRow = document.createElement("tr");
                    titoli.forEach((j) => {
                        let th = document.createElement("th");
                        th.innerHTML = j;
                        theadRow.appendChild(th);
                    });






                    Object.keys(result).forEach((k) => {

                        let row = document.createElement("tr");

                        row.setAttribute("commessa_n", result[k].commessa);

                        row.classList.add("row_commessa");

                        titoli.forEach((j) => {
                            let td = document.createElement("td");
                            if (j == titoli[0]) {
                                td.innerHTML = T.calcolaOfferta(anno, result[k].indice_commessa, azienda);
                            }

                            if (j == titoli[1]) {
                                td.innerHTML = result[k].nome_commessa;
                            }
                            row.appendChild(td)
                        });
                        tbody.appendChild(row);
                    });

                    tableThead.appendChild(theadRow);

                    T.testRow();

                });

            });

            span.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

    }

    class T {
        static testRow() {

            let row_commessa = document.getElementsByClassName("row_commessa");
            let modal2 = document.getElementById("myModal2");
            let span2 = document.getElementsByClassName("close")[1];
            let commessa_n = "";
            let modal_body_2 = document.getElementById("modal-body-2");

            Object.keys(row_commessa).forEach((i) => {

                row_commessa[i].addEventListener('click', async function (e) {



                    commessa_n = this.getAttribute("commessa_n");
                    const response = await fetch("/Commesse/CommessaDettaglio/" + commessa_n);
                    const result = await response.json();
                    modal_body_2.innerHTML = await JSON.stringify(result);
                    modal2.style.display = "block";


                });
            });


            span2.onclick = function () {
                modal2.style.display = "none";
            }
        }

        static calcolaOfferta(anno, indice_commessa, azienda) {

            let res = "";
            let anno_sub = anno.substring(2, 4);

            switch (azienda) {
                case "1":
                case "2":
                case "3":
                    res = `P/Q${indice_commessa}-${anno_sub}`;
                    break;

                case "4":
                    res = `COMM.${indice_commessa}-${anno_sub}`;
                    break;
            }

            return res;
        }

    }

</script>
<script>
    class Tabella {
        constructor(result, modal_body) {
            this.result = result;
            this.modal_body = modal_body;
            this.crea();
        }





    }
</script>
<script>
    //collapse
    let anno = document.getElementsByClassName("collapsible");
    let modalList;
    let findCommessa = document.getElementById("findCommessa");
    const comm = new Commessa();

    Object.keys(anno).forEach((i) => {

        anno[i].addEventListener('click', async function (e) {
            var anno = e.srcElement.getAttribute("anno_i");
            //var anno = e.srcElement.innerHTML;
            console.log(anno);
            const response = await fetch("/Commesse/AziendeAnno/" + anno);
            const result = await response.json();
            await comm.elencaAziende(anno, result);


            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            }
            else {
                content.style.maxHeight = content.scrollHeight + "px";
            }

            modalList = document.getElementsByClassName("modal-list");
            await comm.avviaModale(modalList);



        });

    });

    findCommessa.addEventListener('keyup', async function (e) {
        let search = e.srcElement.value;
        let row_commessa = document.getElementsByClassName("row_commessa");
        let listRowsView = [];
        let listRowsHide = [];
        await Object.keys(row_commessa).forEach(async function (i) {
            console.log(row_commessa[i]);
            let colonneTD = row_commessa[i].getElementsByTagName("td");
            let is_present = false;
            for (j = 0; j < row_commessa[i].childNodes.length; j++) {
                let cella = colonneTD[j].innerHTML;
                if (cella == "") {
                    continue;
                }
                console.log(cella);

                let index = cella.toLowerCase().indexOf(search.toLowerCase());
                console.log(index);
                if (index >= 0) {
                    is_present = true;
                    listRowsView.push(i);

                }
            }

            if (!is_present) {
                listRowsHide.push(i);
            }
            //else {
            //    row_commessa[i].style.display = null;
            //}
        });

        setTimeout(() => {

            listRowsView.forEach((i) => {
                row_commessa[i].style.display = null;
            });

            listRowsHide.forEach((i) => {
                row_commessa[i].style.display = 'none';
            });
        }, 100);


    });

</script>
